{% extends 'base.html' %}
{% load static %}
{% block container %}
<div class="Profile">
  <div class="mainsection">
    <div class="profile_picture">
      {% if profile.profile_picture %}
      <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class='profile-picture'>
  {% else %}
      <img src="{% static 'images/avtar.jpg' %}" alt="Default Profile Picture" class='profile-picture'>
  {% endif %}
      </div>
    <div class="account_detail">
      <div class="topline">
        <h1>{{ profile.user.username }}</h1>
        {% if profile.user == request.user %}
        <a href="{% url 'Editprofile' %}" class="edit-profile-btn">Edit Profile</a>
        {% endif %}
      </div>
      <div class="middleline">
        <ul>
          <li><a href=""><span>{{postcount}}</span>posts</a></li>
          <li><a href="follower_list"><span>{{follower}}</span>followers</a></li>
          <li><a href="following_users"><span>{{following}}</span>following</a></li>
        </ul>
      </div>
      <div class="bio">
        <p>{{ profile.bio }}</p>
      </div>
    </div>
  </div>
  <div class="topnavigation">
    <a href=""><i class="fa-solid fa-clipboard-user"></i><span>posts</span></a>
    <a href="favoritepostlist"><i class="fa-regular fa-bookmark"></i><span>saved</span></a>
    <a href=""><span>tagged</span></a>
  </div>
  <div class="posts">
    {% for post in posts %}
    <div class="post">
      <img src="{{post.image.url}}" alt="xyz">
      <div class="action">
        <button><a href="deletepost/{{post.id}}">Delete</a></button>
        <button id="edit"><a href="{% url 'editpost' post.id %}">Edit</a></button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}